:root {
  --main-darklg: #1a1a1a;
  --main-dark: #2c2c2c;
  --primary-color: #ff5722;
  --main-light: #f5f5f5;
  font-family: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.header {
  height: 60px;
  background-color: var(--main-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > h3 {
  font-size: 1.8rem;
  color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.videos__group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.video {
  height: 200px;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
  object-fit: cover;
  transform: scale(0.9);
}

.options {
  background-color: var(--main-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.options__left {
  display: flex;
  align-items: center;
}

.options__right {
  display: flex;
  align-items: center;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options__button:hover {
  background-color: #ff7f42;
}

.background__red {
  background-color: #ff5722;
  color: #ffffff;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: var(--main-dark);
  color: #ffffff;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
}

.main__message_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.main__message_container > input {
  height: 40px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 10px;
  border: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  color: var(--main-dark);
}

.message > b {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.message > span {
  background-color: var(--main-dark);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}

.message.me > b {
  color: var(--primary-color);
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#showChat {
  display: none;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #e64a19;
}

@media (max-width: 700px) {
  .main__right {
    display: none;
  }

  .main__left {
    width: 100%;
    flex: 1;
  }

  .video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}
